h1{
    color:green;
}
.panel{
    width: 50%;
    padding: 20px;
    background-color: gray;
    border: 2px solid green;
    border-left: 8px solid violet;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.panel__heading{
    color: white;
}
form{
    padding: 20px 0;

}
label,input{
    display: block;
}
table,tr,th,td{
    margin: 20px;
    border: 1px solid red;
    padding: 10px;
}
a{
    color: #000000;
    display: inline-block;
    margin: 0 10px;
}