h1{
    color: red;
}
.panel{
    width: 50%;
    padding: 20px;
    background-color: gray;
    border: 2px solid green;
    border-left: 8px solid violet;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.panel__heading{
    color: white;
}
form{
    padding: 20px 0;

}
label,input{
    display: block;
}