<h1>This is a site Create</h1>


<form action="/storename/" method="POST">
    <label for="name">name</label>

    <input name="name" type="text">

    <label for="age">Age</label>

    <input name="age" type="text">
    
    <button type="submit">Create Name</button>
</form>