<h1>This is a site Edit</h1>


<form action="/name/{{duongs._id}}?_method=PUT" method="POST">
    <label for="name">name</label>

    <input name="name" type="text" value="{{duongs.name}}">

    <label for="age">Age</label>

    <input name="age" type="text" value="{{duongs.age}}">
    
    <button type="submit">Update Information</button>
</form>