

<h1>Home menu</h1>
 <a href="./news"> News</a>
<div class="wrapp">

    {{#each duongs}}
     <a href="/name/{{this.slug}}"> <h5>{{this.name}}</h5> </a>
     <h5>{{this.age}}</h5>
     <h5>{{this.color}}</h5>
    
    {{/each}}
   
</div>