<h2>This is Search</h2>
    {{>panel}}
<form action="">
    <label for="">Search everything you want</label>
    <input type="text" name = "q" placeholder="please input here">
    <button class="btn"type ="submit">Search</button>
</form>